@import '../../_App.scss';

#cases {
  background-color: #373941;

  > div {
    max-width: 1200px;
    padding: 30px 30px;
    margin: 0 auto;

    h2 {
      font-size: 36px;
      font-weight: normal;
      line-height: 42px;
      margin: 0 0 10px;
      text-align: center;
      color: $c-white;
    }

    .cases-title {
      font-size: 25px;
      font-weight: 300;
      margin: 0;
      text-transform: uppercase;
      color: $c-white;
    }

    .cases-list {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 20px 20px;
      text-align: center;
      display: flex;
      justify-content: center;

      .cases-item {
        position: relative;
        width: 250px;
        height: 250px;
        display: inline-block;
        overflow: hidden;

        .cases-item-background {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: 1;
          background-size: cover;
          background-position: center;
          transition: all 0.4s;
          opacity: 0.7;

          &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            transition: all 0.4s;
          }
        }




        .cases-text {
          position: relative;
          height: 100%;
          z-index: 2;

          h3 {  /*industrial e residencial*/
            font-size: 25px;
            font-weight: 300;
            padding-top: 100px;
            margin: 0;
            text-transform: uppercase;
            color: $c-white;
          }

          a {  /* isso muda o botão*/
            position: absolute;
            font-size: 15px;
            display: inline-block;
            border: 1px solid #373941; /*borda do botão*/
            border-radius: 5px;
            text-transform: uppercase;
            padding: 10px 20px;
            left: 35px;
            right: 35px;
            bottom: 35px;
            transition: all 0.4s;
            background-color: rgba($color: $c-yellow, $alpha: 0.5);

            &:hover {
              background-color: $c-yellow;
            }
          }
        }

        &:hover {
          .cases-item-background {
            transform: scale(1.2);

            &::before {
              background-color: rgba($color: $c-yellow, $alpha: 0.5);
            }
          }
        }
      }
    }
  }
}
