@import '../../_App.scss';

#parceiros {
  background-color: #373941;


  > div {
    max-width: 800px;
    padding: 30px 30px 55px;
    margin: 0 auto;

    h2 {
      font-size: 36px;
      font-weight: normal;
      line-height: 42px;
      margin: 0 0 10px;
      text-align: center;
      color: $c-white;
    }

    .conteudo {
      display: flex;
      justify-content: space-evenly;

      article {
        text-align: center;

        i {
          font-size: 18px;
          color: $c-yellow;
          margin-right: 10px;
        }

        span, p, h3 {
          font-size: 18px;
          color: $c-white;

          a:-webkit-any-link {
            color: white;
            text-decoration: none;
          }
        }
      }

      aside {
        width: 70%;
        color: $c-white;
        font-size: 15px;
        text-decoration: none;

        iframe {
          border: 0 none;
        }
      }
    }
  }
}

@media only screen and (max-width : $media-tablet) {
  #contato {
    > div {
      .conteudo {
        display: block;

        article {
          width: 100%;
          margin-bottom: 30px;
        }

        aside {
          width: 100%;
        }
      }
    }
  }
}
