@import '../../_App.scss';

#parceiros {
  background-color: #2a2c33;

  > div {
    max-width: 1200px;
    padding: 30px 30px 55px;
    margin: 0 auto;

    h2 {
      font-size: 36px;
      font-weight: normal;
      line-height: 42px;
      margin: 0 0 10px;
      text-align: center;
      color: $c-white;
    }

    .slick-track {
      display: flex;
    }

    .slick-slide {
      height: auto;
      max-height: 300px;
      align-self: center;
    }

    .center {
      img {
        width: calc(100% - 20px);
        margin: 10px;
        opacity: 0.8;
      }

      .slick-center {
        img {
          opacity: 1;
          transform: scale(1.08);
        }
      }
    }
  }
}